.log { 
   border-bottom: 1px solid #ccc;  
   padding-bottom: 15px; 
   margin-bottom: 10px; 
}
body, html {
   font-family:verdana,helvetica,arial,sans-serif; 
   font-size: 13px; 
   background: #fefefe;
}

#mygraph,
#wrapper { 
   width: 85%; 
   margin: 0 auto; 
}
.mygraph { 
   height: 50%;
   border-bottom: 1px solid #ccc; 
   padding-bottom: 20px; 
   margin-bottom: 20px; 
}
.mergedGraph { 
   height: 70%;
   width: 100%;
   border-bottom: 1px solid #ccc; 
   padding-bottom: 20px; 
   margin-bottom: 20px; 
}
.previewGraph {
   width: 100%;
   float: center;
   height: 120px;
   border-bottom: 1px solid #ccc;
   padding-bottom: 15px;
   margin-bottom: 10px;
}
.checkList {
   width: 100%;
   float: left;
}
.date { 
   color: green; 
   display: inline-block; 
   padding-right: 20px; 
   margin-right: 20px; 
   border-right: 1px dotted #bbb;
}
.server { 
   color: orange;
   display: inline-block; 
   padding-right: 20px; 
   margin-right: 20px; 
   border-right: 1px dotted #bbb;
}
.data { 
   color: black;
}

.clearfix:after {
   content: ".";
   display: block;
   clear: both;
   visibility: hidden;
   line-height: 0;
   height: 0;
}

.clearfix {
   width: 100%;
   display: inline-block;
}

.wrapper:last-child { 
   padding-bottom: 100px; 
}

html[xmlns] .clearfix {
   display: block;
}

* html .clearfix {
   height: 1%;
}
