body, html {
        font-family:verdana,helvetica,arial,sans-serif;
        font-size: 14px;
        background: #fefefe;
}

.mergedGraph {
        height: 200px;
        width: 100%;
        border-bottom: 1px solid #ccc;
        padding-bottom: 15px;
        margin-bottom: 10px;
}

.dashGraph {
        height: 180px;
        width: 100%;
        border-bottom: 1px solid #ccc;
        padding-bottom: 15px;
        margin-bottom: 10px;
}

.gage {
        width: 23%;
        height: 16%;
        float: left;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 2px;
        margin: 2px;
}

form {
	/*margin: 0;*/
        width: 99%;
        margin: auto;
	padding: 10px 0;
	/*text-align: center;*/
	background: #eee;
	border: 2px solid #999;
}
form input {
	font-size: 25px;
	width: 80%;
	padding: 3px;
        margin: 3px;
}
.section {
	height: 100%;
	border: none;
}
.section div {
	padding: 2px;
	background: #fefefe;
	height: 100%;
	padding-left: 0;
}

#output_values {
	display: inline-block;
	padding: 3px 6px;
	margin: 0 3px;
	background: #9B9B9B;
	color: #fff;
}

#tooltip {
	position: absolute;
	display: none;
	width: 200px;
	border: 1px solid #fdd;
	padding: 2px;
	background-color: #9b9b9b;
	opacity: 0.80;
	font-size: smaller;
	cursor:move;
	font-weight: bold;
}
a {
	color: #0B38C3;
	display: block;
	text-decoration:none;
	padding: 3px 8px;
}
a:hover {
	text-decoration:underline;
}
li {
	padding: 3px 3px;
	border: 1px solid #ccc;
	display: list-item;
	background-color: #eee;
	color: #252525;
	margin: 3px;
}
ul {
	list-style-type: none;
	display: inline-table;
}
.graphListing {
	list-style-type: none;
}
.graphListing a {
        float: left;
}
ul.graphListing {
	width: 95%;
}
.nodata {
	margin: 2px;
	width: 30%;
}
.nodata li {
	padding: 3px 3px;
	background-color: #eee;
	color: #252525;
}
/*
#star {
	color: #4169E1;
	left: 10px;
	position: relative;
	cursor: pointer;
}
*/

.starGraph {
	color: #4169E1;
	float: right;
	margin: 20px 30px;
	cursor: pointer;
}

.dragGraph {
	color: #4169E1;
	float: right;
	margin: 20px 0;
}

.draggable {
	cursor: move;
	cursor: -webkit-grabbing;
}

.helpTrigger {
	width: 10px;
	height: 10px;
	position: relative;
	left: 20px;
	color: #4169E1;
	position: relative;
	z-index: 99999;
}
.helpTrigger > div {
	display: none;
	position: absolute;
	right: 30px;
	top: 50px;
	width: 900px;

}
.helpContent {
	background: rgba(255,255,255,0.8);
	border: 1px solid rgba(50, 50, 50, 0.3);
	border-radius: 5px;
	padding: 5px;
	text-align: left;
	font-size: 0.8em;
}
.github {
	width: 10px;
	height: 10px;
	left: 40px;
	color: #4169E1;
	position: relative;
}
a.github {
	float: none;
	text-decoration: none;
}
.goToDashboard {
	width: 10px;
	height: 10px;
	left: 10px;
	color: #4169E1;
	position: relative;
}
a.goToDashboard {
	float: none;
	text-decoration: none;
}
#dashSelector {
	width: 250px;
	display: none;
	float: right;
	position: absolute;
	right: 105px;
	top: 55px;
	z-index: 99999;
	cursor: pointer;
}

#dashSelector ul{
        padding: 10px;
        background-color: #999;
}
#dashSelector li{
	color: #4169E1;
	font-size: 1.2rem;
        margin:2px;
}
#currentDashboard {
	color: #4169E1;
	font-size: 1.3rem;
	padding: 25px;
	cursor: pointer;
}
